@keyframes spin-z {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-cyrcle-full {
  animation: spin-z 5s cubic-bezier(0.6, 0.3, 0.4, 5) infinite;
  transform-origin: center;
  will-change: transform;
}
