/* CARD */
.card-item {
  background: white;
  border: 1px solid #e5e7eb;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 12px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item:hover {
  background: #f9fafb;
}

/* SEARCH */
.search-input {
  width: 250px;
  border: 1px solid #ccc;
  padding: .6rem;
  border-radius: 6px;
}

/* ADD BUTTON */
.add-btn {
  background: #2563eb;
  color: white;
  padding: .6rem 1.5rem;
  border-radius: 6px;
}

/* EDIT & DELETE */
.btn-edit {
  background: #10b981;
  color: white;
  padding: .3rem .8rem;
  border-radius: 6px;
}

.btn-delete {
  background: #ef4444;
  color: white;
  padding: .3rem .8rem;
  border-radius: 6px;
}

/* PANEL ANIMATION */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.overlay.open {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: auto;
}

.side-panel {
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  padding: 20px;
  transition: .35s cubic-bezier(.25, .8, .25, 1);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
}

.side-panel.open {
  right: 0;
}

/* PANEL HEADER */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  background: none;
}

/* FORM */
.label {
  font-size: .9rem;
  margin-bottom: 4px;
  color: #444;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: .6rem;
  border-radius: 6px;
}

.btn-save {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: .6rem;
  border-radius: 6px;
  margin-top: 1rem;
}
