<div class="auth-card
          p-8 relative z-10 flex flex-col justify-center items-center
          w-full min-h-screen md:w-[45vw] md:min-h-[80vh]
          md:rounded-3xl rounded-none
          transition-all duration-[700ms]">

    <div class="w-full max-w-xl mx-auto">

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

            <h2 class="text-2xl font-semibold text-center mb-6">Reset Password</h2>

            <p class="auth-hero-copy mb-4">
                Enter your email and we'll send you a reset link.
            </p>

            <!-- Email -->
            <label class="text-sm font-medium mb-1 block">Email Address</label>
            <input formControlName="email" class="auth-input mb-1" />
            <div class="auth-error mt-1"
                *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">
                <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Enter a valid email.</span>
                <span *ngIf="forgotPasswordForm.get('email')?.errors?.['maxlength']">Email is too long.</span>
            </div>

            <!-- Submit -->
            <button type="submit" class="auth-button mt-6 w-full py-3">
                Send Reset Link
            </button>

            <!-- Footer -->
            <p class="auth-meta text-center mt-4">
                Remember your password?
                <a (click)="onSwitch('login')" class="auth-link">Back to
                    Login</a>
            </p>

        </form>

    </div>
</div>